/* UTILITIES */
.text-center {
	text-align: center;
}

/*
Link to Figma: https://scrimba.com/links/santa-saas-figma
*/
:root {
	--red: rgba(143, 0, 2, 0.83);
	--light-red: #fff2f2;
	--dark-red: #470000;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Be Vietnam Pro", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	font-weight: 400;
	font-style: normal;
}

button {
	font-family: inherit;
}

header {
	padding: 2.5em;
	padding-bottom: 3.5em;
	position: relative;
	overflow: hidden;
}

header::after {
	content: "";
	position: absolute;
	bottom: 110%;
	left: -45%;
	width: 100%;
	height: 70%;
	background-color: var(--red);
	z-index: -1;
	border-radius: 50%;
	scale: 3.5;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: 600;
	gap: 10px;
}

menu {
	display: flex;
	gap: 1.5em;
}

menu li {
	padding: 0;
	list-style-type: none;
}

menu li a {
	text-decoration: none;
	color: white;
	letter-spacing: -0.32px;
}

aside button {
	padding: 12px 24px;
	font-size: 14px;
	letter-spacing: -0.41px;
	border-radius: 8px;
	border: 1px solid white;
}

aside button:first-child {
	background-color: transparent;
	color: white;
}

aside button:last-child {
	background-color: white;
	color: var(--red);
	margin-left: 10px;
}

header h1 {
	margin-top: 134px;
	text-align: center;
	font-size: 3em;
	text-transform: capitalize;
	color: white;
}

header p {
	text-align: center;
	color: white;
	font-size: 17px;
	line-height: 32px;
	letter-spacing: -0.41px;
	max-width: 580px;
	margin: auto;
}

.hero-btn-group {
	margin-top: 35px;
	margin-bottom: 82px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.hero-btn-group button {
	padding: 12px 24px;
	border-radius: 8px;
	border: 1px solid white;
	font-size: 14px;
	letter-spacing: -0.41px;
}

.hero-btn-group button:first-child {
	background-color: white;
	color: var(--red);
}

.hero-btn-group button:last-child {
	background-color: transparent;
	color: white;
}

img#hero-img {
	display: block;
	max-width: 80%;
	margin: auto;
	border-radius: 20px;
	box-shadow: 20px 20px 50px -12px rgb(0 0 0 / 0.25),
		0px 0px 50px -12px rgb(0 0 0 / 0.25);
}

section {
	padding: 60px 75px;
}

#product {
	padding-top: 50px;
}

section > h2 {
	margin: 0;
	font-size: 32px;
	text-align: center;
	color: var(--dark-red);
}

section p {
	font-size: 14px;
	color: #969696;
	letter-spacing: -0.41px;
}

section .cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	margin-top: 4em;
}

section .cards > div {
	border: 1px solid #eaeaea;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

section .cards span {
	display: inline-block !important;
	background-color: var(--light-red);
	color: var(--dark-red);
	font-size: 32px;
	padding: 12px;
	border-radius: 12px;
	margin-bottom: 0.75em;
}

section .cards h3 {
	margin: 0;
	font-size: 16px;
}

section .cards a {
	color: var(--red);
	font-weight: 600;
	letter-spacing: -0.41px;
}

#solution {
	position: relative;
	background-color: #f2f2ff;
	z-index: -2;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 4em;
}

#solution > * {
	flex: 1;
}

#solution img {
	width: 100%;
}

#solution::after {
	content: "";
	position: absolute;
	bottom: -30px;
	right: -40%;
	width: 60%;
	height: 200%;
	border-radius: 50%;
	background-color: var(--red);
	z-index: -1;
}

#solution h2 {
	font-size: 2.25em;
	color: var(--dark-red);
	line-height: 150%;
}

#solution h2 + p {
	line-height: 170%;
}

#elf {
	display: flex;
	align-items: center;
}

#elf-imgs {
	display: flex;
}

#elf-imgs img {
	width: 24px;
	height: 24px;
	border-radius: 100%;
	border: 1px solid #fff2f2;
	position: relative;
}

#elf-imgs img:nth-child(2) {
	left: -8px;
}

#elf-imgs img:nth-child(3) {
	left: -16px;
}

#elf-imgs + p {
	font-size: 14px;
	font-weight: 600;
	color: var(--dark-red);
	margin: 0;
	position: relative;
	left: -8px;
}

#solution button {
	margin-top: 24px;
	background-color: var(--dark-red);
	color: white;
	border-radius: 8px;
	padding: 12px 40px;
}

#customer img {
	width: 100px;
}
